In [4]:
3 + 5

8

Arbitrary Number of arguments(* args, **kwargs)

 ** kwargs

In [2]:
dict_1 = {"name1": "Arzu", "name2": "Ömer", "name3": "Hamdi"}
dict_1

{'name1': 'Arzu', 'name2': 'Ömer', 'name3': 'Hamdi'}

In [3]:
def kwargs_function(** names):   # Eğer çağırma formatı dict gibi ise kwargs kullanılır.

    for i, j in names.items():

        print(f"key: {i}, value: {j}")

In [4]:
kwargs_function(name4 = "Berk", name5 = "Ramazan", name6= "Yasin")

key: name4, value: Berk
key: name5, value: Ramazan
key: name6, value: Yasin

In [5]:
kwargs_function(** dict_1)

key: name1, value: Arzu
key: name2, value: Ömer
key: name3, value: Hamdi

## filter() Data sience kısmında kullanılabilecek güzel bir fonksiyondur.

In [9]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [10]:
filter(None, "Hello") #Direk böyle çalışır ama çıktı vermez

In [11]:
list(filter(None, "Hello")) # Burada True olan değerleri döndürdü. Eğer bir fonksiyon kullanmazsak.

['H', 'e', 'l', 'l', 'o']

In [19]:
list(filter(None, [1,2,0,True, False, "", 0.0, "TechPro"])) #Burada True olan değerleri dödürdü. Filtreleme yapıyor.

[1, 2, True, 'TechPro']

In [13]:
def find_odds(x):

    if x % 2 == 1:
        return True
    else:
        return False

In [14]:
list(filter(find_odds, [1, 2, 3, 4, 5, 6, 7, 8, 9] )) # Burada yukarıda yazdığımız fonksiyonu filter fonksiyonunda kullandık. True olanlar döndü.

[1, 3, 5, 7, 9]

In [15]:
def find_evens(x):

    if x % 2 == 1:
        return False
    else:
        return True

In [16]:
list(filter(find_evens, [1, 2, 3, 4, 5, 6, 7, 8, 9] )) # Burada çift sayılar True olduğu için Çift sayıları döndürdü.

[2, 4, 6, 8]

In [17]:
isimler_listesi = ["Serhat", "sedat", "Metehan", "Bahar", "cennet", "Bilge" ]

In [5]:
def bes_eleman(x):                
        if len(x) == 5 :
            print(x)

In [19]:
list(filter(bes_eleman, isimler_listesi )) # Burada direk listeler isminden döndürdü.

['sedat', 'Bahar', 'Bilge']

In [24]:
def isArmstrong(sayı):

    sayı = str(sayı)
    return sum([ int(i) ** len(sayı)  for i in sayı]) == int(sayı)

In [26]:
isArmstrong(407)

True

In [27]:
list(filter(isArmstrong, range(10, 1000000)))

[153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084, 548834]

 # lambda()

In [28]:
lambda x, y : x ** 2  + y ** 2 # ram bellekte yer kaplamak istemiyorsak lambda fonksiyonu kullanırız.

In [29]:
(lambda x, y : x ** 2  + y ** 2)(4, 3) #Bir kere kullandık ve başka yerde kullanamayacağız. Eğer değişkene atamassak

25

In [30]:
(lambda x, y : x ** 2  + y ** 2)(4, ) # Burada eksik argüman kullnadık hata verdi.

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [ ]:
def kareler_toplamı(x, y):
    return x ** 2 + y ** 2

In [31]:
(lambda x, y: x ** 2 + y ** 2)(4, 3)

25

In [17]:
(lambda x : x ** 2 + x * 2)(3)

15

In [ ]:
def len_5(x):

    if len(x) == 5: return True

In [32]:
(lambda x : len(x) == 5)("Hamdi")

True

In [35]:
list(filter((lambda x : len(x) == 5), isimler_listesi))

['sedat', 'Bahar', 'Bilge']

In [37]:
list(filter((lambda x: x % 2 == 1), [1,2,3,4,5]))

[1, 3, 5]

In [18]:
tek_sayi_ayiklatici = (lambda x: x % 2 == 1), [1,2,3,4,5]

In [51]:
(lambda x : x.lower() == x[::-1].lower())("neveroddoreven")

True

In [52]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [53]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.0.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.9 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.9 kB ? eta -:--:--
     ------------------------- ------------ 41.0/60.9 kB 653.6 kB/s eta 0:00:01
     -------------------------------------- 60.9/60.9 kB 804.1 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hamdi\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\hamdi\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.5 MB 3.2 MB/s eta 0:00:04
   ---------------------------------------- 0.1/11.5 MB 3.2 MB/s eta 0:00:04
   ---------------------------------------- 0.1/11.5 MB 558.5 kB/s eta 0:00:21
   ---------------------------------------- 0.1/11.5 MB 944.1 kB/s eta 0:00:13
    --------------------------------------- 0.2/11.5 MB 1.1 MB/s eta 0:00:10
    --------------------------------------- 0.3/11.5 MB 1.4 MB/s eta 0:00:09
   - -------------------------------------- 0.4/11.5 MB 1.6 MB/s eta 0:00:08
   - -------------------------------------- 0.5/11.5 MB 1.7 MB/s eta 0:00:07
   -- ------------------------------------- 0.6/11.5 MB 1.8 MB/s eta 0:00:06
   -- ------------------------------------- 0.7/11.5 MB 1.9 MB/s eta 0:00:06
   -- ------------------------------------- 0.8/11.5 MB 2.1 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/11.5 MB 2.2 MB/s eta 0:00:05
   --- ------------------------------------ 1.1/11.5 MB 2.2 MB/s eta 0:00:05
   ---- ----------------------------------- 1.2/11.5 MB 2.4 MB/s eta 0:00:05
   ---- ----------------------------------- 1.3/11.5 MB 2.5 MB/s eta 0:00:05
   ----- ---------------------------------- 1.5/11.5 MB 2.5 MB/s eta 0:00:04
   ----- ---------------------------------- 1.6/11.5 MB 2.6 MB/s eta 0:00:04
   ----- ---------------------------------- 1.6/11.5 MB 2.7 MB/s eta 0:00:04
   ------ --------------------------------- 1.7/11.5 MB 2.6 MB/s eta 0:00:04
   ------ --------------------------------- 1.9/11.5 MB 2.6 MB/s eta 0:00:04
   ------- -------------------------------- 2.0/11.5 MB 2.7 MB/s eta 0:00:04
   ------- -------------------------------- 2.2/11.5 MB 2.8 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/11.5 MB 2.9 MB/s eta 0:00:04
   --------- ------------------------------ 2.6/11.5 MB 3.0 MB/s eta 0:00:03
   --------- ------------------------------ 2.8/11.5 MB 3.1 MB/s eta 0:00:03
   ---------- ----------------------------- 3.0/11.5 MB 3.2 MB/s eta 0:00:03
   ----------- ---------------------------- 3.2/11.5 MB 3.3 MB/s eta 0:00:03
   ------------ --------------------------- 3.5/11.5 MB 3.4 MB/s eta 0:00:03
   ------------ --------------------------- 3.7/11.5 MB 3.5 MB/s eta 0:00:03
   ------------- -------------------------- 3.9/11.5 MB 3.6 MB/s eta 0:00:03
   -------------- ------------------------- 4.2/11.5 MB 3.7 MB/s eta 0:00:02
   --------------- ------------------------ 4.5/11.5 MB 3.8 MB/s eta 0:00:02
   ---------------- ----------------------- 4.7/11.5 MB 4.0 MB/s eta 0:00:02
   ----------------- ---------------------- 5.0/11.5 MB 4.1 MB/s eta 0:00:02
   ------------------ --------------------- 5.2/11.5 MB 4.1 MB/s eta 0:00:02
   ------------------- -------------------- 5.5/11.5 MB 4.2 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.5 MB 4.4 MB/s eta 0:00:02
   --------------------- ------------------ 6.1/11.5 MB 4.5 MB/s eta 0:00:02
   ---------------------- ----------------- 6.4/11.5 MB 4.6 MB/s eta 0:00:02
   ----------------------- ---------------- 6.8/11.5 MB 4.7 MB/s eta 0:00:01
   ------------------------ --------------- 7.2/11.5 MB 4.8 MB/s eta 0:00:01
   -------------------------- ------------- 7.6/11.5 MB 5.0 MB/s eta 0:00:01
   --------------------------- ------------ 7.9/11.5 MB 5.1 MB/s eta 0:00:01
   ---------------------------- ----------- 8.3/11.5 MB 5.2 MB/s eta 0:00:01
   ------------------------------ --------- 8.6/11.5 MB 5.3 MB/s eta 0:00:01
   ------------------------------- -------- 9.0/11.5 MB 5.4 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.5 MB 5.6 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.5 MB 5.7 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.5 MB 6.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.8/11.5 MB 6.8 MB/s eta 0:00:01
   ---------------------------------------  11.2/11.5 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 7.6 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 7.5 MB/s eta 0:00:00
Downloading numpy-2.0.0-cp312-cp312-win_amd64.whl (16.2 MB)
   ---------------------------------------- 0.0/16.2 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.2 MB 15.2 MB/s eta 0:00:02
   -- ------------------------------------- 0.9/16.2 MB 15.0 MB/s eta 0:00:02
   --- ------------------------------------ 1.4/16.2 MB 14.9 MB/s eta 0:00:01
   ---- ----------------------------------- 1.9/16.2 MB 13.3 MB/s eta 0:00:02
   ----- ---------------------------------- 2.3/16.2 MB 13.6 MB/s eta 0:00:02
   ------ --------------------------------- 2.8/16.2 MB 13.7 MB/s eta 0:00:01
   -------- ------------------------------- 3.2/16.2 MB 12.9 MB/s eta 0:00:02
   --------- ------------------------------ 3.7/16.2 MB 13.3 MB/s eta 0:00:01
   ---------- ----------------------------- 4.2/16.2 MB 13.3 MB/s eta 0:00:01
   ----------- ---------------------------- 4.6/16.2 MB 12.9 MB/s eta 0:00:01
   ------------ --------------------------- 5.1/16.2 MB 13.0 MB/s eta 0:00:01
   ------------- -------------------------- 5.5/16.2 MB 13.1 MB/s eta 0:00:01
   -------------- ------------------------- 6.0/16.2 MB 13.3 MB/s eta 0:00:01
   --------------- ------------------------ 6.4/16.2 MB 12.9 MB/s eta 0:00:01
   --------------- ------------------------ 6.4/16.2 MB 12.9 MB/s eta 0:00:01
   ---------------- ----------------------- 6.8/16.2 MB 12.1 MB/s eta 0:00:01
   ------------------ --------------------- 7.3/16.2 MB 12.0 MB/s eta 0:00:01
   ------------------- -------------------- 7.8/16.2 MB 12.1 MB/s eta 0:00:01
   -------------------- ------------------- 8.2/16.2 MB 12.1 MB/s eta 0:00:01
   --------------------- ------------------ 8.7/16.2 MB 12.1 MB/s eta 0:00:01
   ---------------------- ----------------- 9.1/16.2 MB 12.2 MB/s eta 0:00:01
   ---------------------- ----------------- 9.2/16.2 MB 12.2 MB/s eta 0:00:01
   ----------------------- ---------------- 9.7/16.2 MB 11.7 MB/s eta 0:00:01
   ------------------------- -------------- 10.1/16.2 MB 11.8 MB/s eta 0:00:01
   -------------------------- ------------- 10.6/16.2 MB 11.5 MB/s eta 0:00:01
   --------------------------- ------------ 11.0/16.2 MB 11.5 MB/s eta 0:00:01
   ---------------------------- ----------- 11.6/16.2 MB 11.7 MB/s eta 0:00:01
   ----------------------------- ---------- 12.0/16.2 MB 11.5 MB/s eta 0:00:01
   ------------------------------ --------- 12.4/16.2 MB 11.5 MB/s eta 0:00:01
   ------------------------------- -------- 12.9/16.2 MB 11.7 MB/s eta 0:00:01
   -------------------------------- ------- 13.4/16.2 MB 11.5 MB/s eta 0:00:01
   ---------------------------------- ----- 13.8/16.2 MB 11.5 MB/s eta 0:00:01
   ----------------------------------- ---- 14.2/16.2 MB 11.5 MB/s eta 0:00:01
   ------------------------------------ --- 14.7/16.2 MB 11.5 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.2 MB 11.5 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.2 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.2 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  16.2/16.2 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 16.2/16.2 MB 11.1 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   ------------------------------------- - 481.3/505.5 kB 14.7 MB/s eta 0:00:01
   --------------------------------------- 505.5/505.5 kB 10.5 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 10.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.0 pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [54]:
import pandas as pd

In [55]:
df = pd.read_csv("adult_eda.csv")

In [56]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [57]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [58]:
df.sex.apply(lambda x: 0 if x == "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

map ve modül konusunu işleyeceğiz.

Ödev2:
Perfect number tespit eden fonksiyonu yazın. Fonksiyonu yazarken lambda kullanmaya çalışın.
daha sonra bu fonksiyonu kullanarak 1 ile 100 arasındaki perfect numberları bulun.
(Mükemmel sayı (perfect number), pozitif tam sayıların bir türüdür. Bir sayının, kendisi hariç pozitif bölenlerinin toplamı, sayının kendisine eşitse, o sayı mükemmel sayı olarak adlandırılır.
6 sayısının pozitif bölenleri: 1, 2, 3
Bu bölenlerin toplamı: 1 + 2 + 3 = 6  )

In [1]:
(lambda x, y : x + y )(3,5)

8

In [47]:
def perfect_number(x):
    sayilar = []
    for i in range(1, x):
        if x % i == 0:
            sayilar.append(i)
    if x == sum(sayilar) :
        return True
    else : 
        return False

In [48]:
perfect_number(30)

False

In [44]:
list(filter(perfect_number, range(1,101)))

[6, 28]

In [56]:
def perfect_number_2(x):
    return  sum([ i for i in range(1, x) if x % i == 0 ]) == x

In [68]:
list(filter(perfect_number_2, range(1,101) ))

[6, 28]

In [67]:
list(filter((lambda x : sum([ i for i in range(1, x) if x % i == 0 ]) == x ), range(1,101)))

[6, 28]

Rastgele sayılardan oluşan bir listenin içinden 15 ve 30 arasında olan(iki sayıda dahil. ) sayıları ayıklayan kodu yazın. (filter ve lambda fonksiyonları kullanın)

In [1]:
import random

In [4]:
random.sample(range(1,101),15)

[92, 39, 88, 82, 26, 42, 25, 77, 57, 36, 75, 13, 73, 91, 14]

In [28]:
(lambda x :  15 <= x <= 30 )(14)

False

In [10]:
list(filter(lambda x :  15 <= x <= 30 , random.sample(range(100),20)))

[27, 16, 21]

In [12]:
def x(sayi):
    if sayi < 10:
         return True
    else :
        return False

In [13]:
list(filter(x, [1,2,3,4,5,6,12,23]))

[1, 2, 3, 4, 5, 6]

In [15]:
x()

True